<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LCD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LCD.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
            <setting name="DotRadius" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="WirePointRadius" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DescriptionToolTipTimeOut" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DotOffColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="DotOnColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="WireOnColor" serializeAs="String">
                <value>Firebrick</value>
            </setting>
            <setting name="WireOffColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WirePointColor" serializeAs="String">
                <value>DarkSalmon</value>
            </setting>
            <setting name="CircuitBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SnapEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SnapTolerance" serializeAs="String">
                <value>12</value>
            </setting>
        </LCD.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
